# Copyright (c) 2026 Hubble Network, Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_NORDIC_NRF

if HUBBLE_SAT_NETWORK && !HUBBLE_BLE_NETWORK

configdefault NRFX_TIMER
      	default y

endif #HUBBLE_SAT_NETWORK && !HUBBLE_BLE_NETWORK

if !ZEPHYR_NRF_MODULE

if HUBBLE_SAT_NETWORK

configdefault NRFX_TIMER
      	default y

if HUBBLE_BLE_NETWORK

configdefault BT_CTLR_ADVANCED_FEATURES
      	default y

configdefault BT_CTLR_DYNAMIC_INTERRUPTS
      	default y

configdefault DYNAMIC_INTERRUPTS
      	default y

configdefault DYNAMIC_DIRECT_INTERRUPTS
      	default y

configdefault SHARED_INTERRUPTS
      	default y

endif # HUBBLE_BLE_NETWORK

endif # HUBBLE_SAT_NETWORK

endif # !ZEPHYR_NRF_MODULE

endif # SOC_FAMILY_NORDIC_NRF
